<header class="app-header navbar">
    <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <!--<img src="assets/img/logo2.png">-->
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>&#9776;</button>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
            <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
              <img src="assets/img/avatars/user.jpeg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="d-md-down-none">{{ userName }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                <a class="dropdown-item" [routerLink]="['/master/changepassword']"><i class="fa fa-wrench"></i> Change Password</a>
                <a class="dropdown-item" href="#" (click)="onLogout()"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
        <!--<button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler>&#9776;</button>-->
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-title">
                    Master
                </li>
                <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown *ngIf="isAdmin">
                    <a class="nav-link nav-dropdown-toggle" appNavDropdownToggle><i class="icon-settings"></i> System</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/user']"><i class="icon-user"></i> User</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/group']"><i class="icon-cursors"></i> Group</a>
                        </li>
                        -->
                    </ul>
                </li>
                <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown *ngIf="isAdmin">
                    <a class="nav-link nav-dropdown-toggle" appNavDropdownToggle><i class="icon-notebook"></i> Data</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/rw']"><i class="icon-cursors"></i> RW</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/rt']"><i class="icon-cursors"></i> RT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/block']"><i class="icon-cursors"></i> Block</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/lot']"><i class="icon-cursors"></i> Lot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/ktp']"><i class="icon-cursors"></i> KTP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/kk']"><i class="icon-cursors"></i> KK</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/bank']"><i class="icon-cursors"></i> Bank</a>
                        </li>
                        -->
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/docprefix']"><i class="icon-cursors"></i> Docprefix</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/charge']"><i class="icon-cursors"></i> Charge</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/trxtype']"><i class="icon-cursors"></i> Trx Type</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/addendumcharge']"><i class="icon-cursors"></i> Addendum Charge</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/trxtypesettle']"><i class="icon-cursors"></i> Trx Type Settle</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/activity']"><i class="icon-cursors"></i> Activity</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
                    <a class="nav-link nav-dropdown-toggle" appNavDropdownToggle><i class="icon-pencil"></i> Transaction</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item" *ngIf="isAdmin">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/invoice']"><i class="icon-cursors"></i> Generate Invoice</a>
                        </li>
                        <li class="nav-item" *ngIf="isAdmin">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/generateinvperlot']"><i class="icon-cursors"></i> Generate Inv By Lot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/paymentinvperlot']"><i class="icon-cursors"></i> Payment</a>
                        </li>
                        <li class="nav-item" *ngIf="isAdmin">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/paymentapprove']"><i class="icon-cursors"></i> Payment Approve</a>
                        </li>
                        <li class="nav-item" *ngIf="isAdmin">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/cashbook']"><i class="icon-cursors"></i> Cashbook</a>
                        </li>
                    </ul>
                    <!--
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/invoice_payment']"><i class="icon-cursors"></i> Payment</a>
                        </li>
                    </ul>
                    -->
                </li>
                <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown *ngIf="isAdmin">
                    <a class="nav-link nav-dropdown-toggle" appNavDropdownToggle><i class="icon-docs"></i> Report</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/master/debtor_enquiry']"><i class="icon-cursors"></i> Debtor Enquiry</a>
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/report/invoice']"><i class="icon-cursors"></i> Invoice</a>
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/report/monthly']"><i class="icon-cursors"></i> Report Bulanan</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <app-breadcrumbs></app-breadcrumbs>
            <!-- Breadcrumb Menu-->
            <!--      <li class="breadcrumb-menu d-md-down-none">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                      <a class="btn" href="#"><i class="icon-speech"></i></a>
                      <a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>
                      <a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
                    </div>
                  </li>-->
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div><!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    <a href="http://coreui.io">CoreUI</a> &copy; 2017 Idealux.
</footer>
