<div class="card" >
    <div class="row">
        <div class ="col-sm-12">
            <div class="card-header">
                Kwitansi
                <a class="btn btn-sm btn-info float-right" onclick="print()">
                    <i class="fa fa-print"></i> Print
                </a>
            </div>
            <div class="card-body">
                <div id="section-to-print">
                    <table border="0" width="300">
                        <tr>
                            <td><img src="assets/img/logo.png" width="50"></td>
                            <td>RW 03 Green Garden</td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">KWITANSI</td>
                        </tr>
                        <tr>
                            <td>{{ data.lotNo }}</td>
                            <td align="right">{{ data.docDate }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Jumlah Uang : {{ data.docAmt | number:'1.0-0' }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Rincian :</td>
                        </tr>                        
                        <tr *ngFor="let alloc of data.aralloctmp_set">
                            <td colspan="2">- {{ alloc.debitDescs }} : {{ alloc.allocAmt | number:'1.0-0' }}</td>
                        </tr>
                    </table>                
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    @media print {
        body * {
            visibility: hidden;
            display: none;
        }
        .app-header, .navbar, .breadcrumb, .card, .card-header, .card-body {
            visibility: hidden;
        }
        #section-to-print, #section-to-print * {
            visibility: visible;
        }
        #section-to-print {
            position:fixed;
            left: 10;
            top: 10;
        }
    }
</style>