<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Dashboard
        <a class="btn btn-sm btn-info float-right" [routerLink]="['/master/paymentinvperlot']">
          <i class="fa fa-edit"></i> Payment
        </a>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-3">
                <div class="callout callout-info">
                  <small class="text-muted">Tagihan Belum Tertagih</small>
                  <br>
                  <strong class="h4">{{ agingPercentage | number:'1.0-2' }} %</strong>
                  <div class="chart-wrapper"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas id="sparkline-chart-1" width="45" height="13" class="chartjs-render-monitor" style="display: block; width: 45px; height: 13px;"></canvas>
                  </div>
                </div>
              </div>
  
              <div class="col-sm-3">
                <div class="callout callout-danger">
                  <small class="text-muted">Tagihan Belum Tertagih</small>
                  <br>
                  <strong class="h4">{{ agingLotCount }} Rumah</strong>
                  <div class="chart-wrapper"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas id="sparkline-chart-2" width="45" height="13" class="chartjs-render-monitor" style="display: block; width: 45px; height: 13px;"></canvas>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="callout callout-danger">
                  <small class="text-muted">Tagihan Belum Tertagih</small>
                  <br>
                  <strong class="h4">Rp. {{ agingSum | number:'1.0-0' }}</strong>
                  <div class="chart-wrapper"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas id="sparkline-chart-2" width="45" height="13" class="chartjs-render-monitor" style="display: block; width: 45px; height: 13px;"></canvas>
                  </div>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="callout callout-danger">
                  <small class="text-muted">Total Tagihan Belum Setor</small>
                  <br>
                  <strong class="h4">Rp. {{ totalPayUnpost | number:'1.0-0' }}</strong>
                  <div class="chart-wrapper"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <canvas id="sparkline-chart-2" width="45" height="13" class="chartjs-render-monitor" style="display: block; width: 45px; height: 13px;"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>  
        </div>  
        <br>
        <table class="table table-responsive-sm table-hover table-outline mb-0">
          <thead class="thead-light">
            <tr>
              <th>RT</th>
              <th class="text-right">Jumlah</th>
              <th class="text-right">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let unpost of payUnposts">
              <td>
                {{ unpost.rtNo }}
              </td>
              <td class="text-right">
                {{ unpost.lotCount }} Rumah
              </td>
              <td class="text-right">
                Rp. {{ unpost.undeposited | number:'1.0-0' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>  
</div>