
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Payment Approve
            </div>
            <div class="card-body">
                <div class="col-sm-6">
                    <div class="form-group" >
                        <label>User</label>
                        <select  class="form-control" [(ngModel)]="selected_user" (ngModelChange)="changeUser()">  
                            <option [ngValue]="null">--Select Unit--</option>                    
                            <option *ngFor="let user of users"
                                [value]="user.id">
                                {{user.fullName}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">       
                        <label>Total</label>
                        <input type="text" class="form-control" [(ngModel)]="totalPayFormat" readonly>
                    </div>
                    <form [formGroup]="invoice_payment_form">
                        <button type="button" class="btn btn-success" (click)="doAction('approve')"> Approve </button>
                        <button type="button" class="btn btn-danger" (click)="doAction('reject')"> Reject </button>
                    </form>
                </div>
                <div class="row">
                    <div class ="col-sm-12">
                        <div class="card-body">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                                <thead>
                                    <tr>
                                        <td><input type="checkbox" id="checkAll" [(ngModel)]="checkAll" (ngModelChange)="doCheckAll()"></td>
                                        <th>Lot</th>
                                        <th>Descs</th>
                                        <th>Tgl</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let paymentUnpost of paymentUnposts">                            
                                        <td><input type="checkbox" [(ngModel)]="paymentUnpost.checked" (change)='changeChecked()'></td>
                                        <td>{{ paymentUnpost.lotNo }}</td>
                                        <td>{{ paymentUnpost.descs }}</td>
                                        <td>{{ paymentUnpost.docDate }}</td>
                                        <td align="right">{{ paymentUnpost.docAmt | number:'1.0-0' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>